*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Neuehaasdisplay roman", sans-serif;
}

/* loader */
#loader{
    background-color: black;
    z-index: 99;
}
#loader span {
    display: none;
    font-size: 80px;
    background: linear-gradient(to left,#FE330A, rgb(255, 111, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

 /* nav  */
nav{
    padding: 2vw 2vw 0px 2vw;
}

/* logo  */
#logo img{
    width: 9.54vw;
}

/* menu */
#menu span{
    height: 2.8vw;
    font-size: clamp(12px,1vw ,16px);
    font-weight: 300;
    border: 1px solid #917e78dc;
    padding: 1vw 1.3vw 0px 1.3vw;
}
#menu span::after , #all_projects + span::after{
    content: " ";
    height: 130%;
    width:100%;
    position: absolute;
    z-index: -1;
    left: 0%;
    bottom: -130%;
    background-color: black;
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
}
#menu span:hover , #all_projects + span:hover{
    cursor: pointer;
    color:#EFEAE3;
}
#menu span:hover::after , #all_projects + span:hover::after{
    bottom: 0%;
    border-radius: 0;
}

 /* main  */
main{
    /* background-color: #EFEAE3; */
    color: #000000;
    padding: 0px 2vw;
}

/* herosection  */
#herosection{
    height: 45vw;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(164, 162, 162);
}

/* Left part of container 1 */
#left-part {
    width: 28vw;
    font: 600 2vw/2.4vw sans-serif;
    letter-spacing: -1.5px;
}

/* Right part of container 1 */
#right-part {
    width: 40vw;
    font: normal 900 10vw/8.5vw sans-serif;
    letter-spacing: -0.6vw;
}

 /* video and marquee  */
 #cloud-1{
    top: -10vh;
 }
.ball{
    height: 30vw;
    width: 30vw;
    filter: blur(30px);    
    margin: 0px 100px 0px 100px;   
    background: linear-gradient(to left,#FE330A , #fe4416);
    animation: cloud1 100s alternate infinite;
 }

.hero-section{
    height: 60vh;
    width: 30vw;
    filter: blur(35px);
    background: linear-gradient(to left,#FE330A , #fe4416);
}
@keyframes cloud1{
    0%{transform: translate(0% ,0%) skew(0deg);}
    20%{transform: translate(15% ,4%) skew(10deg);}
    40%{transform: translate(10% ,-2%) skew(-10deg);}
    60%{transform: translate(-20% ,2%) skew(20deg);}
    80%{transform: translate(10% ,-4%) skew(-40deg);}
    100%{transform: translate(-5%, -3%) skew(20deg);}
}

/* video */
video{
    margin-top: 4vw;
    object-fit: cover;
    border-radius: 2%;
}

/* marquee */
#marquee{
    margin: 10vw 0px 1vw 0px;
}
#marquee div{
    font: 600 9vw "Neuehaasdisplay roman", sans-serif;
    animation: loop 40s 10ms linear infinite;
}
#marquee div img{
    height: 50px;
    margin: 30px;
}
@keyframes loop {
    from{transform: translate(0%);}
    to{transform: translateX(-58%) skew(10deg);}
}

/* work info  */
#work_info{
    height: 80vh;
    margin-bottom: 15vw;
}

/* cloud 2 */
#cloud-2{
    height: 100vh;
}
@keyframes cloud5{
    0%{transform: translate(0% ,0%) skew(0deg);}
    20%{transform: translate(-10% ,10%) skew(-10deg);}
    40%{transform: translate(5% ,-5%) skew(20deg);}
    60%{transform: translate(-5% ,-8%) skew(10deg);}
    80%{transform: translate(10% ,-10%) skew(-20deg);}
    100%{transform: translate(4%, -9%) skew(5deg);}
}

@keyframes cloud6{
    0%{transform: translate(0% ,0%) skew(5deg);}
    20%{transform: translate(-10% ,10%) skew(2deg);}
    40%{transform: translate(2% ,-5%) skew(3deg);}
    60%{transform: translate(-5% ,-8%) skew(4deg);}
    80%{transform: translate(-10% ,-5%) skew(9deg);}
    100%{transform: translate-(4%, -9%);}
}

/* left part of container2 */
#left_part {
    width: 55vw;
    font: 900 4vw/4.2vw sans-serif;
    letter-spacing: -0.15vw;
}

/* right part of container2 */
#right_part{
    width: 22vw;
    margin-top: 30%;
}
#right_part img{
    height: 200px;
    margin-bottom: 30px;
}

/* featured_project */

/* all_projects */
#all_projects{
    height: 50vw;
    width: 100vw;
    margin-left: -34px;
    margin-bottom: 50px;
    position: relative;
}
#all_projects div{
    height: 14.29%; 
    border-bottom: 1px solid rgb(124, 117, 117);
    position: relative;
}
#all_projects div span:first-child{
    font-size: 3.7rem;
    font-weight: 500;
    letter-spacing: -4px;
    margin-left: 40px;
}
#all_projects div span:last-child{
    text-align: right;
    margin-right: 40px;
}
#all_projects div span h5{
    font-weight: 400;
}
#all_projects div span p{
    font-weight: 100;
    color: grey;
}
#all_projects div::after{
    content: " ";
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    transition: all ease 0.2s;
    top: -100%;
    z-index: -1;
}
#all_projects div:hover::after{
    top: 0px;
}

#image_viwer{
    height: 55vh;
    width: 25vw;
    border-radius: 5%;
    position: fixed;
    top: 17vh;
    left: 50vw;
    z-index: 10;
    background-size:cover;
    background-position: center; 
}

/* page5 */
#page5{
    height: 95vh;
    margin-top: 10vw;
    background-color: black;
    border-radius: 3%;
}
#left-div{
    font: 600 4.5rem "Neuehaasdisplay roman", sans-serif;
    color: white;
}
#btn1{
    height: 8%;
    padding-left: 20px;
    color: #EFEAE3;
    border-left: 4px solid red;
}
#btn2,#btn3{
    height: 8%;
    padding-left: 20px;
    color: #504B45;
    border-left: 2px solid #504B45;
}
#btn1:hover,#btn2:hover,#btn3:hover{
    cursor: pointer;
}
#left-div span{
    height: 30%;
    width: 45%;
    font-size: 1.1rem;
    font-weight: 400;
    color: #EFEAE3;
    margin-top: 40px;
}
#right-div{
    object-fit: fill;
    border-radius: 3%;
    background-image: url("image/10011.webp");
    background-size: cover;
}

/* page6 */
#page6{
    height:35vh;
    margin: 100px 25px;
}
.swiper {
    margin-left: -65vw;
}
.swiper-slide {
    height: 70%;
  width: 15%;
}
.container7 {
    height: 100%;
    width: 90%;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 25px;
    border-left: 1px solid grey;
}
.container7 img{
    margin-bottom: 20px;
}
#tracking-ball{
    height: 100px;
    width: 100px;
    padding: 44px 32px;
    position: relative;
    z-index: 99;
    background-image: url("image/10024.png");
    background-size: cover;
    display: none;
}
#tracking-ball img{
    height: 16px;
}
#blank-page{
    height: 100vh;
    padding: 40px;
    /* position: relative; */
    z-index: 9;
}

/* footer */

.cloud-3{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 60, 0);
    filter: blur(50px);
    z-index: 1;
}

footer{
    color: #EFEAE3;
    background-color: black;
    padding: 0px 40px;
}
#section1{
    padding: 100px;
    align-items: end;
}
#section1 span:first-child{
    width: 120px;
    font-size: 2.3rem;
    font-weight: 600;
}
#section1 span:last-child{
    width: 300px;
    font-size: 1.2rem;
    font-weight: 200;
}
#textarea{
    color: #EFEAE3;
    margin-top: 40px;
    border-bottom: 1px solid grey !important;
}
#section2{
    height: 40%;
    padding: 2%;
    border-bottom: 1px solid grey;
}
#section3{
    height: 10%;
    font-size: 1.1rem;
}